@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  font-family: 'Noto Sans JP', 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;
  color: #222;
  background: #ffffff; /* 白背景 */
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: auto;
}

a {
  font-weight: 500;
  color: #4756e6;
  text-decoration: inherit;
}
a:hover {
  color: #3a45d8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.02em;
}

* {
  box-sizing: border-box;
}

input {
  font-family: inherit;
}
